{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block main %}
<h1> Athelete IQ</h1>
<div></div>
<p> Athlete IQ equips high-potential young athletes with accurate, sport-specific training knowledge, so preventable preparation gaps don’t turn into injuries that cut athletic careers short. </p>

<section id="mission">
    <h2>Athlete IQ's Mission</h2>
    <p>We envision a youth sports system where talented athletes are not held back by preventable injuries, where training decisions are informed and proactive, and where access to evidence-based knowledge is not limited by resources, geography, or misinformation.</p>
    <p>Long-term, we aim to build a standard for injury-aware training education that supports athletes, teams, and future coaches.</p>

    <h3>Organizational Values</h3>
    <ol>
        <li></li>
    </ol>


{% endblock %}


{% block main %}
